<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Making</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/site.css" rel="stylesheet"> {{!-- This file provides the default styling for the KeystoneJS Content
	Editor - only renders when user is logged in and admin--}} {{{isAdminEditorCSS user}}} {{!-- HTML5 Shim and Respond.js IE8
	support of HTML5 elements and media queries //- Safely remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<div id='nav'>
		<div class="logo-test"></div>

		<a href="/"><img class='logo' src="/images/logo.png" width="350px" height="auto"></a>
		<ul id="nav-list">
			{{# each navLinks}}
			<li {{#ifeq ../section key}} class='active' {{/ifeq}}>
				<a href="{{ href }}">{{ label }}</a>
			</li>
			{{/each}}
		</ul>
		<div class="burger">
			<div onclick="burgerToggle(this)" id="burger-icon">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
			<div class="burger-nav-links">
				{{# each navLinks}}
				<a href='/{{key}}' {{#ifeq ../section key}} class='active' {{/ifeq}}>{{label}}</a>
				{{/each}}
			</div>
		</div>
	</div>

	<div id="body">
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}
	</div>

	<div id="footer">

	</div>

	<script src="/js/functions.js"></script>
</body>

</html>