<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Making</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/site.css" rel="stylesheet"> {{!-- This file provides the default styling for the KeystoneJS
	Content
	Editor - only renders when user is logged in and admin--}} {{{isAdminEditorCSS user}}} {{!-- HTML5 Shim and Respond.js
	IE8
	support of HTML5 elements and media queries //- Safely remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<div id='nav'>
		<a href="/"><img class='logo' src="/images/logo.png"></a>
		<ul id="nav-list">
			{{# each navLinks}}
			<li {{#ifeq ../section key}} class='active' {{/ifeq}}>
				<a href="{{ href }}">{{ label }}</a>
			</li>
			{{/each}}
		</ul>
		<div class="burger">
			<div onclick="burgerToggle(this)" id="burger-icon">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
			<div class="burger-nav-links">
				{{# each navLinks}}
				<a href='/{{key}}' {{#ifeq ../section key}} class='active' {{/ifeq}}>{{label}}</a>
				{{/each}}
			</div>
		</div>
	</div>

	<div id="body">
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}
	</div>

	<script src="/js/functions.js"></script>
</body>

<footer>
	<div class="foot-container">
		<div></div>
		<div>
			<div class="legend"> Copyright &copy;2018 Making</div>
			<div class="foot-social">
				Social icons
			</div>
		</div>
		<div></div>
		<div class="logo"><img src="/images/logo.png" width="250px;"></div>

		<div class="footer-list">
			<ul>
				<li><a href="/about">about</a></li>
				<li><a href="/contact">contact</a></li>
				<li><a href="/music">music</a></li>
			</ul>
		</div>
		<div class="subscribe">
			<div class="subscribe-text">
				Subscribe
			</div>
			<form method="post">
				<input type="text" name="subscribe" id="subscribe-input">
			</form>
		</div>
	</div>
</footer>


</html>