<div id="Video">

      <div class="music-text">
            <div>
                  <div class="heading">
                        {{page}}
                  </div>
                  <div class="heading-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, itaque.
                  </div>
            </div>
      </div>

      {{#if videos}}
      <div class="feed-container">
            {{# each videos}}
            <a href="/player/{{slug}}" class="feed-item" style="
      background: url('{{image.url}}') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      ">
                  <div class="name">{{title}}</div>
            </a>
            {{/each}}
      </div>
      {{else}}
      <div class="no-content" style="width: 100%; text-align:center">
            <h1>No content.</h1>
      </div>
      {{/if}}

      <script>
            window.onload = function () {
                  window.scroll(0, 1);
            }
      </script>

</div>